@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html {
  background: #222;
  color: #414141;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #fff;
  box-sizing: border-box;
  font-size: 16pt;
  margin: auto;
  max-width: 960px;
  min-height: 100%;
}

h1 {
  background: #222;
  color: #fff;
  font-size: 2.5em;
  font-weight: 500;
  margin: 0;
  padding: 1em;
  text-align: center;
}

h1 abbr:after {
  content: attr(title);
  display: block;
  font-size: 0.4em;
  margin-top: 20px;
}

section {
  padding: 2em 4em;
}

section h2 {
  color: #222;
  text-align: center;
}

section:first-of-type {
  background: #79bb82;
  color: #fff;
  text-align: center;
}

section:first-of-type a {
  color: #fff;
  display: block;
  font-size: 2em;
  text-decoration: inherit;
}

ul {
  line-height: 2;
  list-style: none;
  font-size: 0.8em;
  padding-left: 0;
}

footer {
  background: #BFBFB3;
  font-size: 0.75em;
  padding: 1em;
  text-align: center;
}

footer a {
  color: #1b9832;
}
