@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html {
  background: url("mountain.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #414141;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 16pt;
  margin: auto;
  max-width: 960px;
  min-height: 100%;
}

a {
  color: #1b9832;
}

ul {
  line-height: 2;
  list-style: none;
  font-size: 0.8em;
  padding-left: 0;
}

h1 {
  background: rgba(34,34,34,0.8);
  color: #fff;
  font-size: 2.5em;
  font-weight: 500;
  margin: 0;
  padding: 0 1em 1em 0;
  text-align: center;
}

h1:before {
  content: url("logo.svg");
  display: block;
  margin: 0 auto;
  width: 200px;
}

h1 abbr:after {
  content: attr(title);
  display: block;
  font-size: 0.4em;
  margin-top: 20px;
}

section {
  background: #fff;
  padding: 2em 4em;
}

section h2 {
  color: #222;
  text-align: center;
}

section:first-of-type {
  background: #79bb82;
  color: #fff;
  text-align: center;
}

section:first-of-type a {
  color: #fff;
  display: block;
  font-size: 2em;
  text-decoration: inherit;
}

section:last-of-type {
  background: url("bkgd.svg") 100% 100% no-repeat #fff;
}

footer {
  background: #BFBFB3;
  font-size: 0.75em;
  padding: 1em;
  text-align: center;
}

#ars, #urps {
  display: inline-block;
  padding: 1em 0;
}

#ars a, #urps a {
  font-size: 0;
}

#ars a:before, #urps a:before {
  display: inline-block;
  width: 300px;
}

#ars a:before {
  content: url('ars.png');
}

#urps a:before {
  content: url('urps.png');
}
