@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700'
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700'
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700'
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200'

$primary: #62ad96
$text: #585858
$title: #000

body
  background: #f7fafb
  color: $text
  display: flex
  flex-flow: column wrap
  font-family: 'PT Sans', sans-serif
  margin: 0
  min-height: 100vh

h1,h2,h3,h4,h5
  color: #000
  font-family: 'Source Sans', sans-serif
  font-weight: 400

h2
  font-size: 2em
  font-weight: 200
  margin: 0

header
  height: 10em
  margin-left: 15em

  h1
    font-size: 4em
    line-height: 1.4em
    margin: 0

  p
    line-height: 1.5em
    margin: 0

nav
  background: #fff
  height: 100%
  position: fixed
  text-transform: uppercase
  top: 0
  width: 15em

  &:before
    content: url(images/logo.svg)
    display: block
    width: 5em

  ul
    list-style: none

    li
      &:hover
        a
          color: darken($primary, 10%)
          text-decoration: underline

      a
        color: $primary
        display: block
        font-size: 0.9em
        font-weight: bold
        padding: 0.5em 2em 0.5em 0
        text-decoration: inherit
        transition: color 0.5s

main
  box-sizing: border-box
  line-height: 1.8em
  margin-left: 15em
  padding: 1em

  a
    color: $primary
    border: 1px solid $primary
    display: inline-block
    font-weight: 700
    margin: 0.5em 0
    padding: 1em 2em
    text-decoration: none
    transition: background 0.3s

    &:hover
      background: $primary
      color: #fff

  section
    &#recto

    &#verso

    &#recto, &#verso
      width: 50%
      p
        width: 50%

        &:first-of-type
          &:before
            background: #c3c3c3
            content: ""
            display: block
            height: 10em
            margin: auto
            width: 20em

  dl
    dd
      margin-left: 0

    img
      display: block
      width: 10em
