@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700';
body {
  background: #fff;
  color: #585858;
  display: flex;
  flex-flow: column wrap;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  min-height: 100vh; }

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; }

h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 0; }
  h2:after {
    background: #62ad96;
    content: "";
    display: block;
    height: 3px;
    margin-top: 0.5em;
    width: 20px; }

h3 {
  color: #62ad96; }

header {
  background: url("images/mountain.png") no-repeat center;
  /*height: 10em*/
  margin-left: 15em;
  width: calc(100% - 15em);
  /*background: #ecf0f1*/
  height: 200px;
  background-size: cover;
  background-position: bottom right; }
  header h1 {
    font-size: 5em;
    line-height: 1.4em;
    margin: 0;
    padding-left: 1em;
    text-transform: uppercase; }
  header p {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-size: 1.3em;
    padding-left: 3em; }
    header p:last-of-type {
      margin-bottom: 1em; }

nav {
  background: #62ad96;
  height: 100%;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 15em; }
  nav ul {
    list-style: none;
    margin-top: 5em; }
    nav ul:before {
      content: url(images/logo.svg);
      display: block;
      width: 5em; }
    nav ul li {
      margin: 0.5em 0; }
      nav ul li:hover a {
        color: #3a6f5f;
        /*text-decoration: underline*/ }
      nav ul li a {
        color: #fff;
        display: block;
        font-size: 0.9em;
        /*font-weight: bold*/
        letter-spacing: 1.5px;
        padding: 0.5em 2em 0.5em 0;
        text-decoration: inherit;
        transition: color 0.5s; }

main {
  box-sizing: border-box;
  line-height: 1.8em;
  margin-left: 15em;
  padding: 2em; }
  main a {
    color: #62ad96;
    border: 1px solid #62ad96;
    display: inline-block;
    font-weight: 700;
    margin: 0.5em 0;
    padding: 1em 2em;
    text-decoration: none;
    transition: background 0.3s; }
    main a:hover {
      background: #62ad96;
      color: #fff; }
  main section#recto, main section#verso {
    width: 50%; }
    main section#recto p, main section#verso p {
      width: 50%; }
      main section#recto p:first-of-type:before, main section#verso p:first-of-type:before {
        background: #c3c3c3;
        content: "";
        display: block;
        height: 10em;
        margin: auto;
        width: 20em; }
  main dl {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2em;
    /*justify-content: center*/
    /*margin: auto*/ }
    main dl dd {
      box-sizing: border-box;
      height: 300px;
      margin-left: -220px;
      padding: 260px 3em 0;
      text-align: center;
      width: 198px; }
    main dl dt {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      height: 300px;
      line-height: 60px;
      margin: 0 -0.5px;
      padding: 1em;
      text-align: center;
      width: 15em; }
      main dl dt img {
        display: block;
        margin: 0 auto;
        height: 200px; }

/*# sourceMappingURL=style.sass.css.map */