body
  display: flex
  flex-wrap: wrap
  margin: 0

header
  background: #bbb
  padding: 2em
  width: 100%

  h1
    font-size: 4em
    line-height: 1.4em
    margin: 0

  p
    line-height: 1.5em
    margin: 0

nav
  background: #ccc
  padding: 2em

  ul
    list-style: none
    padding: 0

    li
      border-bottom: 1px solid #bbb

      a
        color: black
        font-weight: bold
        display: block
        margin: 1em
        text-decoration: inherit

main
  background: #ddd
  flex: 1
  padding: 2em
