@import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700'
$primary: #79bb82


body
  display: flex
  flex-wrap: wrap
  font-family: 'Noto Sans', sans-serif
  margin: 0
  min-height: 100vh

header
  background: url(images/mountain.png) no-repeat center
  background-size: cover
  padding: 2em
  width: 100%

  h1
    font-size: 4em
    line-height: 1.4em
    margin: 0

  p
    line-height: 1.5em
    margin: 0

nav
  background: $primary
  padding: 2em

  ul
    list-style: none
    padding: 0

    li
      /*border-bottom: 1px solid #bbb*/

      a
        color: #fff
        /*font-weight: bold*/
        display: block
        margin: 1em
        text-decoration: inherit

main
  /*background: #ddd*/
  flex: 1
  padding: 2em
