@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600';
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700';
body {
  background: #fff;
  color: #585858;
  display: flex;
  flex-flow: column;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  margin: 0;
  min-height: 100vh; }
  body#download main ul, body#links main ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0; }
    body#download main ul li, body#links main ul li {
      margin: 0 0.5em;
      list-style: none; }
  body#links main ul li {
    width: 220px; }
    body#links main ul li a {
      border: none;
      font-size: 0;
      height: 200px;
      width: 220px; }
    body#links main ul li#ars a {
      background: url("images/ars.png") no-repeat center;
      background-size: 75%; }
    body#links main ul li#ons a {
      background: url("images/ons.png") no-repeat center;
      background-size: 75%; }
    body#links main ul li#urps a {
      background: url("images/urps.png") no-repeat center;
      background-size: 75%; }
  body#contact main ul li a {
    border: none;
    margin: 0;
    padding: 0; }
    body#contact main ul li a:hover {
      background: none;
      color: #54a18a;
      text-decoration: underline; }
  body#home main {
    display: flex;
    flex-wrap: wrap; }
    body#home main article {
      flex-grow: 1; }
      body#home main article:last-child {
        max-width: 40em;
        text-align: right; }

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; }

h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 0; }
  h2:after {
    background: #62ad96;
    content: "";
    display: block;
    height: 3px;
    margin-top: 0.5em;
    width: 20px; }

h3 {
  color: #62ad96; }

header {
  background: url("images/pills.png") no-repeat center;
  box-sizing: border-box;
  margin-left: 15em;
  background-size: cover;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  width: calc(100% - 15em); }
  header h1 {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 5em;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0;
    text-transform: uppercase;
    padding: 0 0.5em; }
  header p {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
    padding: 0 2em; }
    header p:last-of-type {
      padding-bottom: 1em; }

nav {
  background: #62ad96;
  height: 100%;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 15em; }
  nav ul {
    list-style: none;
    margin-top: 3em; }
    nav ul:before {
      content: url(images/logo.svg);
      display: inline-block;
      width: 10em; }
    nav ul li {
      margin: 0.5em 0; }
      nav ul li:hover a {
        color: #3a6f5f; }
      nav ul li a {
        color: #fff;
        display: block;
        font-size: 0.9em;
        letter-spacing: 1.5px;
        padding: 0.5em 2em 0.5em 0;
        text-decoration: inherit;
        transition: color 0.5s; }

main {
  box-sizing: border-box;
  line-height: 1.8em;
  margin-left: 15em;
  padding: 2em; }
  main .phone {
    font-size: 2em; }
  main p {
    text-align: justify; }
  main a {
    border: 1px solid #62ad96;
    color: #62ad96;
    display: inline-block;
    font-weight: 700;
    margin: 0.5em 0;
    padding: 1em 2em;
    text-decoration: none;
    transition: background 0.3s; }
    main a:hover {
      background: #62ad96;
      color: #fff; }
  main dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    main dl dt {
      font-weight: bold;
      text-align: center;
      margin-bottom: 2.5em;
      margin-top: 1em;
      width: 200px; }
      main dl dt img {
        display: block;
        margin: 1em auto;
        height: 200px; }
    main dl dd {
      margin: 0;
      text-align: center;
      width: 200px;
      margin-left: -200px;
      margin-top: calc(200px + 4.5em); }

@media (max-width: 50em) {
  nav, header, main {
    margin: 0;
    position: static;
    width: auto; }
  header {
    background: #62ad96;
    display: block;
    font-size: 0.6em; }
    header h1, header p {
      background-color: transparent;
      text-align: center; }
  nav {
    height: 0;
    text-align: center;
    overflow: hidden; }
    nav:after {
      color: white;
      content: '☰';
      display: block;
      width: 2em;
      line-height: 2em;
      top: 0;
      right: 0;
      position: absolute; }
    nav ul {
      margin: 0 0 0.5em 0;
      padding: 0; }
      nav ul:before {
        display: none; }
      nav ul li {
        margin: 0; }
        nav ul li a {
          padding: 0.5em 0; }
  header:hover + nav, nav:hover {
    height: auto; }
  main {
    hyphens: auto;
    min-height: 100vh; }
    main .phone {
      font-size: 1.2em; }
    main dl {
      margin: auto; }
    main p {
      text-align: left; } }

/*# sourceMappingURL=style.sass.css.map */