<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADOP - {% block title %}Aide et Dispositif d'Orientation des Pharmaciens{% if region %} − Région {{ region }}{% endif %}{% endblock title %}</title>
    <link type="image/png" rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.sass.css') }}" />
    {% if region %}
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style-{}.sass.css'.format(region_id)) }}" />
    {% endif %}
    <script>/* Stupid hack for iOS :hover */ document.addEventListener("touchstart", function(){}, true);</script>
  </head>

  <body id="{{ page }}">
    <header>
      <h1>Adop</h1>
      <p>Aide et Dispositif d'Orientation des Pharmaciens</p>
      {% if region %}<p>Région {{ region }}</p>{% endif %}
    </header>

    <nav>
      <ul>
        <li><a href="{{ url_for('page', page='home', region_id=None) }}">Accueil</a></li>
        <li><a href="{{ url_for('page', page='history', region_id=region_id) }}">Historique</a></li>
        <li><a href="{{ url_for('page', page='actions', region_id=region_id) }}">Actions</a></li>
        <li><a href="{{ url_for('page', page='operation', region_id=region_id) }}">Fonctionnement</a></li>
        <li><a href="{{ url_for('page', page='news', region_id=region_id) }}">Actualités</a></li>
        <li><a href="{{ url_for('page', page='download', region_id=region_id) }}">Téléchargement</a></li>
        <li><a href="{{ url_for('page', page='links', region_id=region_id) }}">Liens partenaires</a></li>
        <li><a href="{{ url_for('page', page='contact', region_id=region_id) }}">Contact</a></li>
      </ul>
    </nav>

    <main>
      {% block body %}{% endblock body %}
    </main>
  </body>
</html>
