{% extends '_layout.html' %}

{% block body %}
  <h2>Actions</h2>
  <h3>L'association ADOP Rhône-Alpes s'adresse à tous les Pharmaciens</h3>
  <p>Si vous êtes installé et ne savez pas (ou plus ) comment organiser votre activité ;</p>
  <p>Si vous n’avez plus d’envie professionnelle, ni de goût pour votre métier et que vous êtes au plus bas ;</p>
  <p>Si vous êtes perdu dans votre exercice professionnel et n’arrivez pas à le surmonter ;</p>
  <p>Si vos responsabilités vous pèsent et vous envisagez de tout arrêter ;</p>
  <p>Si vous êtes en conflit avec vos associés, votre entourage ou votre hiérarchie, mais ne savez pas comment résoudre discrètement cette situation qui vous mine ;</p>
  <p>Si vous êtes addict à l’alcool, à une drogue, au travail…, et vous voulez mais ne savez pas comment vous en sortir ;</p>
  <p>Si vous croulez sous les problèmes administratifs ou financiers qui vous empêchent d’être serein dans votre exercice professionnel ;</p>
  <p>Si vous avez été victime d’une agression au sein de votre officine et vous n’arrêtez pas d’y penser.</p>
{% endblock body %}
