{% extends '_layout.html' %}

{% block body %}
  <h2>Téléchargement</h2>
  <ul>
    <li><a href="{{ url_for('static', filename='documents/charte.pdf') }}">Charte de l'association</a></li>
    <li><a href="{{ url_for('static', filename='documents/statuts.pdf') }}">Statuts de l'association</a></li>
    <li><a href="{{ url_for('static', filename='documents/presentation.pdf') }}">Plaquette de présentation</a></li>
    <li><a href="{{ url_for('static', filename='documents/fonctionnement.pdf') }}">Fonctionnement de l'association</a></li>
  </ul>
{% endblock body %}
