{% extends '_layout.html' %}

{% block body %}
  <h2>Fonctionnement</h2>
  <h3>Au 0800 73 69 59</h3>
  <p>Un réseau d’une trentaine de <strong>confrères de soutien</strong> :</p>
  <ul>
    <li>tous pharmaciens,</li>
    <li>volontaires,</li>
    <li>formés à l’écoute active par des spécialistes en thérapies comportementales et cognitives</li>
  </ul>
  <p>assure une astreinte téléphonique, <strong>24h/24</strong>, <strong>7j/7</strong>, en toute confidentialité.</p>
  <p>Tous les membres de l’association ADOP adhèrent à la charte éthique.</p>
  <p>
    Selon la difficulté rencontrée par l’appelant, il pourra être orienté vers
    un professionnel ressource compétent (avocat, psychologue, expert
    comptable…) ayant adhérer à l’association. Il bénéficiera, à ce titre, de
    la prise en charge des honoraires de la première consultation.
  </p>
{% endblock body %}
